// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import 'reset';
@import 'mixin';
@import 'fonts';
@import 'colors';

body {
    background: black;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(0, 0, 0, 0.5);
    margin-bottom: 20px;

    &__logo {
        padding: 5;
        background: orange;
        border-radius: 10px;
        cursor:default;

        &-left {
            font-size: 45px;
            color: white;
            font-weight: 700;
            font-family: 'Hurricane';
        }

        &-right {
            font-size: 45px;
            color: black;
            font-weight: 700;
            font-family: 'Hurricane';
        }
    }
}
.about{
    &__title{
        color: white;
        margin-bottom: 10px;
    }
    &__description{
        color: white;
        margin-bottom: 15px;
    }
}

li{
    color: white;
}

.rules__title{
    color: white;
    margin-bottom: 20px;
}
.home {
    padding-top: 80px;
}
#toCalculate{
    width: 40vw;
}
#addGood{
    width: 29.5vw;
}

.input {
    color: white;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    margin-bottom: 10px;
    margin-right: 10px;
    width: 7vw;

    &__colection {
        margin-bottom: 50px;
    }
}

.btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    color: orange;
    background: none;
    border: 2px solid orange;
    border-radius: 10px;

    &:hover {
        color: grey;
    }

    &:active {
        color: orange;
    }
}
.telegram{
    &__icon{
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
}

.good__list {
    width: 100%;
    margin-bottom: 5px;
    padding: 15px;
    border: 2px solid orange;
    border-radius: 10px;
    background: white;
    width: 40vw;
    min-height: 20vh;

    &__title {
        font-size: 20px;
        font-weight: bold;
        color: white;
        margin-bottom: 25px;

        &-2 {
            font-weight: bold;
            color: white;
            font-size: 25px;
            margin-bottom: 20px;
            margin-top: 60px;
        }
    }
}

.card {
    padding: 10px;
    background: orange;
    border-radius: 10px;
    margin-bottom: 10px;

    &__text {
        color: black;
        font-size: 15px;

        span {
            padding: 8px;
            background: black;
            color: white;
            border-radius: 10px;
            margin: 5px;
        }
    }
}

.output {
    padding: 3px;
    color: black;
    font-size: 18px;

    &__card {
        padding: 5px;
        background: orange;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 2px solid white;
    }
}
.donate{
    margin-bottom: 30px;
}
.bank__wrapper{
    margin-bottom: 10px;
    &__img{
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
    &__card{
        color: white;
    }
}

@import 'media';